{{/* Override of Blowfish v3.8.0:
     https://github.com/nunocoracao/blowfish/blob/v3.8.0/layouts/_default/_markup/render-heading.html
     - the "#" is drawn by CSS (custom.css) so it does not leak into
       plain-text summaries
*/}}
{{ $anchor := anchorize .Anchor }}
<h{{ .Level }} class="relative group">{{ .Text | safeHTML }}
    <div id="{{ $anchor }}" class="anchor"></div>
    {{ if .Page.Params.showHeadingAnchors | default (.Page.Site.Params.article.showHeadingAnchors | default true) }}
    <span
        class="absolute top-0 w-6 transition-opacity opacity-0 -start-6 not-prose group-hover:opacity-100 select-none">
        <a class="text-primary-300 dark:text-neutral-700 !no-underline" href="#{{ $anchor }}" aria-label="{{ i18n "article.anchor_label" }}"><span class="heading-anchor-mark" aria-hidden="true"></span></a>
    </span>
    {{ end }}
</h{{ .Level }}>
